#payment-container {
    padding: 1rem;
    margin: 4rem 1rem 1rem 2rem;
    max-width: 450px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
    #payment-container {
        padding: 1rem;
        margin: 0 auto;
        max-width: 450px;
        text-align: center;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    }
}

#payment-waiting-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


#countdown-timer {
    background-color: hsl(244, 50%, 21%);
    border-radius: 5px;
    padding: 5px;
    align-self: center;
}

#countdown-timer:hover {
    background-color: hsl(244, 50%, 30%);
    cursor: pointer;
}



.pay-tonkeeper-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    margin-top: 1.5rem;
    background-color: #0098EA;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.pay-tonkeeper-btn:hover {
    background-color: #007ab8;
}